<!doctype html>
<html ng-app="directoryApp">
<head>
	<title>AngularJS starter app</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
	<script src="directory2.js"></script>
</head>
<body ng-controller="directoryController">
	<input type="text" ng-model="search_keyword">
	<ul>
		<li ng-repeat="item in list | filter:search_keyword">
			{{item.name}} - {{item.age}}
		</li>
	</ul>
	<form ng-submit="addPerson()">
		<input type="text" ng-model="name">
		<input type="text" ng-model="age">
		<input type="submit" value="Submit">
	</form>
</body>
</html>